table
			{
				color: #333;
				font-family: Helvetica, Arial, sans-serif;
				width: 640px;
				border-collapse:
				collapse; border-spacing: 0;
			}

			td, th
			{
				border: 1px solid transparent; /* No more visible border */
				height: 30px;
				transition: all 0.3s;  /* Simple transition for hover effect */
			}

			th
			{
				background: #DFDFDF;  /* Darken header a bit */
				font-weight: bold;
			}

			td
			{
				background: #FAFAFA;
			}

			#search-view{
				list-style-type:none;
			}

			#search-view li:hover
			{
				background: #f8f8f8;
			}

			#search-view li
			{

				height: 60px;
				padding-top: 5px;
				color: #333;
				overflow: hidden;
				border: 1px dotted #ccc;
			}

			#search-view li img
			{
				height: 50px;
				margin-left: 10px;
			}

			#search-view:before {
			    bottom: 100%;
			    left: 80px;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			}

		  #search-view li span {
		  	color: red;
		  }